ul.children 
{
	padding-bottom:0px !important;
	border-top: 1px solid #ececec; 
	border-bottom: 1px solid #ececec;
}
ul.children li
{
border-top: 1px solid #ececec;
}

ul.children li a
{
	 padding-top: 15px!important;
   padding-bottom: 15px!important;
}

.ced-vm-swatch-wrapper-without-circle {
    
    background-color: white;
    border: 1px solid #ff2d37;
}

.ced-vm-active-s:hover {
    box-shadow: 0 0 0 2px #ff2d37;
}
.ced-vm-active-s {
    box-shadow: 0 0 0 2px #ff2d37;
}

.ced-vm-swatch-wrapper-without-circle span {
   
    font-size: 25px;
    color: #c6cddb;
    
}


.ced-vm-label-active .ced-vm-swatch-wrapper-without-circle span {
   
    font-size: 20px;
    color: #c6cddb;
    
}


.ced-vm-label-active .ced-vm-swatch-wrapper-without-circle:before {
    background-image: url('https://bizweb.dktcdn.net/100/342/645/themes/701397/assets/checked.png?1558603057330');
    height:15px;
    width:15px;
    position:absolute;
    content:"";
    bottom: -1px;
    right: -1px;
    z-index: 99999999;
}



.ced-vm-active-s ,.ced-vm-swatch-wrapper-without-circle
{
	height: 45px !important;
    width: 60px !important;
}


.ced-vm-swatch-wrapper-without-circle.ced-vm-border {
    height: 33px !important;
    width: 48px !important;
   /* border: 2px solid white !important;*/
}	


.cart
{
	display:flex;
	align-items:center;
	flex-wrap:wrap;
}

.cart .buysll 
{
	    display: inline-block;
    text-align: center;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    background: #fff;
    padding: 0 25px;
    height: 50px;
    color: #ff2d37;
    border: 2px solid #ff2d37;
    cursor: pointer;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-right: 0px;
    position: relative;
	margin-left:15px;
}


.cart .buysll p
{
	    text-align: center;
    margin-bottom: 0px;
    line-height: 12px;
    margin: 7px 0 0;
}


.cart .buysll:before {
    content: "";
    width: 55px;
    height: 55px;
    background: #ff2d37;
    border-radius: 50%;
    position: absolute;
    right: -40px;
    top: -5px;
}

.cart .buysll:after {
    content: "\e600";
    font-family: 'fl-icons';
    font-size: 24px;
    position: absolute;
    right: -25px;
    top: 2px;
    color: #fff;
}


.cart .single_add_to_cart_button 
{
	margin-bottom:0px;
	
	font-size: 14px;
    outline: none;
    box-shadow: none;
    text-transform: uppercase;
    color: #fff;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background: #ff2d37 !important;
	opacity:1;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    border: 2px solid #ffc6c9;
    margin-left: 0px;
    padding: 0;
    float: left;
    margin-right: 15px;align-content
	
}


.cart .buttons_added
{
	  margin-bottom: 1em;
    max-width: 100%;
    flex-basis: 100%;
}

.cart  .quantity.buttons_added
{
	   
}

ins span.amount {
    white-space: nowrap;
    color: #ff2d37;
    font-weight: bold;
}


#product-sidebar .widget-title.shop-sidebar,.widget_products   .widget-title.shop-sidebar
{
	  font-size: 18px;
    text-transform: uppercase;
    margin-top: 9px;
    font-weight: 700;
    color: #282828;
    text-decoration: none;
	
}
#product-sidebar .product_list_widget,
.widget_products .product_list_widget
{
		padding: 0px !important;
   	border: solid 1px white !important;
	margin-top:10px;
}


#product-sidebar .product_list_widget li,
.widget_products .product_list_widget li
{
    border: dashed 1px #ebebeb;
    margin-bottom: 15px;
    padding-right: 5px;
    padding-bottom: 25px;
}



@media screen and (min-width: 850px)
{
	.row-divided.row-reverse>.col+.col:not(.large-12) {
    border-left: 0;
     border-right: 1px solid white; 
}

}

.section_service 
{
	border: solid 1px #ebebeb;
	padding-top: 25px;
}
.footer-2 .is-divider
{
	display:none;
}


.footer-1 .widget-title {
    line-height: 3;
}
.footer-1 ul li a 
{
	color:white;
}

.footer-1 ul li  
{
	border-top: unset !important;
}


.footer-1 .widget_text 
{
	max-width: 100% !important;
	text-align:center;
	flex-basis: 100% !important;
}

.footer-2 
{
	background:white !important;
	
}

.footer-1 .widget_text  a
{ 
	color: #ff2d37;
}

.back-to-top 
{
	
	position: fixed !important;
    bottom: 80px;
    z-index: 99999999999;
    top: auto;
    line-height: 50px !important;;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    color: #fff !important;;
    border: unset !important;
    background: #ff2d37 !important;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    backface-visibility: hidden;
	
}

.bbloomer-thumbs
{
	
	    display: flex;
    width: 100%;
}

.bbloomer-thumbs div.woocommerce-product-gallery__image {
    width: 20%;
    margin-right: 3%;
    margin-bottom: 3%;
    float: left;
	    border: 2px solid #eaebf3;
}

.bbloomer-thumbs div.woocommerce-product-gallery__image img {
height: 100px;
}

.footer-2 {
     background: white; 
    color: #fff;
}

.footer-1 .widget-title
{
	color:white;
}

.footer-1 .is-divider 
{
	display:none;
}


.footer-2 .item_f,
.footer-2 .title-menu {
	width: 100%;
	float: left
}

@media (max-width: 767px) {
	.footer-2 .item_f {
		margin-bottom: 20px
	}
	.footer-2 .item_f .title-menu {
		margin-bottom: 0
	}
}

.footer-2 .title-menu {
	font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	margin: 0 0 10px;
	padding: 0;
	text-align: left
}

.footer-2 .w_f {
	font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
	width: 100%;
	float: left;
	font-size: 27px;
	line-height: 32px;
	margin: 0
}

.footer-2 .w_f .fa {
	font-size: 9px;
	vertical-align: top;
	margin-top: 6px;
	color: #fff;
	background: #ff2d37;
	text-align: center;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	line-height: 18px
}

.footer-2 p {
	font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
	width: 100%;
	float: left;
	font-size: 12px;
	font-weight: 400;
	color: #282828;
	margin-bottom: 0
}

.absolute-footer
{
	display:none;
}

.footer-2 .w_f i {
    font-size: 9px;
    vertical-align: top;
    margin-top: 6px;
    color: #fff;
    background: #ff2d37;
    text-align: center;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
}

.footer-2 .w_f  a
{
	color: #282828;
}



.footer-2  .widget-title
{
	    color: black;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 13px;
    padding: 0;
    text-align: left;
    font-size: 13px;
}

.footer-2 .form-flat
{
    display: flex;
    align-items: center;
	margin-top:15px;
}

.social-icons
{
	margin-top:15px;
}
.social-icons a
{
	  height: 40px;
    width: 40px;
    text-align: center;
    background: #ff2d37 !important;
    line-height: 35px !important;
    color: #fff;
    margin-right: 5px;
    border-radius: 0px !important;
}




.footer-2 .form-flat   .wpcf7-email {
  border-radius: 0px !important;
    margin-bottom: 0px;
    width: 185px;
}

.footer-2 .form-flat   .wpcf7-submit
{

    border-radius: 0px;
    margin-bottom: 0px;
    height: 39px;
    margin-right: 0px;
}


.post-sidebar .widget-title 
{
	    font-weight: 800;
    color: black;
}

.post-sidebar .menu-main-container
{
	    padding: 0 15px 15px;
    border: solid 1px #ebebeb;
    width: 100%;
    float: left;
    margin-top: 20px;
margin-bottom: 20px;

}

.post-sidebar .menu-main-container li 
{
	border-top: 1px solid white;
}


.blog  #post-list .entry-category ,.blog  #post-list   .entry-meta, .blog  #post-list .post-date
{
	display:none;
}


.woocommerce-pagination,.nav-pagination
{
	display: flex !important;
    justify-content: flex-end !important;

}

.woocommerce-pagination li span,.nav-pagination li  span
,
.woocommerce-pagination li a,.nav-pagination li  a
{
	border-radius:0px !important;
    background: #f1f2f7;
	border:none;
	    line-height: 2.5;
	
}

.form-contact-page input[type="text"],
.form-contact-page input[type="email"]
{
	background:white !important;
	border-radius:0px !important;
}

.form-contact-page textarea
{
		background:white!important;
	border-radius:0px !important;
}

.form-contact-page input[type="submit"]
{
	font-size:15px;
	text-transform:initial;
		
}

/*
.product-small .price
{
	    display: grid;
    text-align: left;
}

.product-small .price del
{
	    margin-bottom:5px;
}
*/
.product-small .box-text p
{
	height: 2.5rem;
    
}
.product-small .box-text
{
	 padding: 15px 10px !important;
}

