/*
Theme Name: Delta Shoes
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/


body.full-width, .header-wrapper.stuck {
    max-width: 1920px !important;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
}

div#top-bar > .container {
    max-width: 100%;
    padding: 0;
    max-height: unset;
    margin: 0;
}
.slider-custom {
    padding-bottom: 30px;
}
.header-main .is-small, .header-main .is-small.button {
    font-size: 18px;
}
.block-product>.section-content>.container, .block-product>.section-content>.slider {
    background: #fff;
    box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -webkit-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -o-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
    -os-box-shadow: 0px 10px 21.6px 2.4px rgba(0,0,0,0.06);
}
.section-title-container b {
    background: transparent;
}
.section-title {
    padding-top: 20px;
}
.product-small {
    margin-bottom: 15px;
}
.flickity-slider .col>.col-inner, .row-small>.col>.col-inner {
    height: 100%;
    border: dashed 1px #ebebeb;
}

.pd-0-15 {
    padding: 0 15px;
}

.row-ct {
    width: calc(100% + 20px);
    max-width: unset !IMPORTANT;
}

.footer-2 {
    background: url(/wp-content/uploads/2019/03/bg_fot.jpg);
    color: #fff;
}
.footer-2 .recent-blog-posts a, .footer-2 .widget_categories ul li a {
    color: #fff;
}
.footer-2 .widget .is-divider {
    background-color: rgba(255, 255, 255, 0.8);
}
.footer-2 input.wpcf7-validates-as-email {
    background: #fff !important;
}
.box-text {
    text-align: center;
}
.section-ship .col {
    padding-bottom: 0;
}

.badge-container {
    margin: 0;
}
.badge-container .on-sale {
    color: transparent;
    background: url(/wp-content/uploads/2019/03/hot.png);
    width: 125px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent !important;
}
.badge-container .badge-frame {
    margin: 0;
    height: initial;
    width: initial;
}

.featured-title {
    background-color: #fff !important;
    box-shadow: none;
}
.featured-title h1, .dark .breadcrumbs {
    color: #ff2d37;
}
.dark .breadcrumbs a {
    color: #000;
}
.dark .breadcrumbs {
    font-size: 15px;
    text-transform: none;
    text-shadow: none;
    font-weight: 500;
}
.shop-page-title.featured-title .title-overlay {
    background-color: transparent !important;
}
.featured-title .page-title-bg {
    box-shadow: none;
}
.dark .form-flat select {
    background-color: #ff2d37 !important;
}
.dark .form-flat select option {
    color: #333;
    background: #fff;
}
.searchform input.search-field {
    height: 45px;
}

#main .is-divider, .product_list_widget .star-rating {
    display: none;
}
#shop-sidebar .shop-sidebar, #product-sidebar .shop-sidebar {
    color: #282828;
    font-size: 15px;
    line-height: 40px;
    font-weight: 500;
}
#shop-sidebar .widget ul, #product-sidebar .widget>ul {
    padding: 10px 15px 15px;
    border: solid 1px #ebebeb;
}
.widget>ul>li ul {
    border: none;
    margin-left: 0;
}
#shop-sidebar .widget ul li a, #product-sidebar .widget ul li a {
    font-size: 14px;
    padding: 5px 0;
}

.header-bottom .nav > li > a {
    font-weight: 500;
}

.product-footer .woocommerce-tabs {
    border-top: none;
}

.product-footer .product-tabs {
    border-bottom: solid 1px #ebebeb;
}
.product-footer .product-tabs .active a {
    color: #fff;
    background: #ff2d37;
}
.product-footer .product-tabs .active a:before {
    background: transparent;
}
.product-footer .product-tabs li a {
    padding: 8px 20px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    text-transform: none;
}

.block-frequently .accordion {
    font-size: 14px;
}
.block-frequently .lead {
    font-size: 16px;
    margin-bottom: 10px;
}
.block-frequently .accordion .plain {
    padding: 8px 35px;
}

.transparent .header-main {
    height: 109px !important;
}
.header.transparent .header-bottom {
    background-color: #ff2d37;
}
.header.has-transparent, .header.transparent {
    position: relative;
}

#header .searchform input[type='search'], #header .searchform input:not([type="submit"]) {
    border-color: #ddd !important;
    background: rgba(0,0,0,0.03) !important;
    color: #333 !important;
}
#header .searchform input::-webkit-input-placeholder, #header .searchform button.ux-search-submit {
    color: #333;
}

.block-about-us .small-12.large-12 p {
    text-align: justify;
}
.block-about-us .section-title {
    font-weight: 500;
    font-size: 28px;
    margin: 0;
}


@media(max-width:991px) and (min-width:500px)
{
	#footer .row .col 
{
	max-width: 50%;
    flex-basis: 50%;
}
}


@media(max-width:500px)
{
	#footer .row .col 
{
max-width: 100%;
    flex-basis: 100%;
}
}




