/*
Theme Name: Tcal
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/

h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
    font-weight: 400;
}

/* Heaader */

header#header {
    padding: 50px 0;
}

.header-main .header-inner {
    position: relative;
    padding-left: 50px;
}

.header-main .header-inner:before {
    content: " ";
    position: absolute;
    background: #F5F5F5;
    height: 100%;
    width: calc(100% - 200px);
    z-index: -1;
    left: 0;
    bottom: 0;
    border-radius: 90.5px;
}

.header-main li.header-block {
    width: 400px;
    margin-left: 50px !important;
}

.header-main .phone-header h3 {
    float: left;
    font-size: 14px;
    font-weight: 400;
    width: auto;
    line-height: 40px;
    margin-right: 15px;
    margin-bottom: 0;
}

.header-main .phone-header p {
    float: left;
    font-size: 35px;
    color: #e83400;
    line-height: 40px;
}

.icon-box.phone-header:hover .has-icon-bg .icon .icon-inner {
    background: transparent;
}

.header-main .nav-spacing-xlarge > li {
    margin: 0 20px;
}

.dark, .dark p, .dark td {
    color: #ffffff;
}

.nav-line-bottom > li > a:after {
    content: " ";
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    background-color: #e6420f;
    transition: all 0.3s;
    opacity: 0;
    height: 1px;
    top: auto;
    bottom: 5px;
}

.nav-line-bottom > li:hover > a:after, .nav-line-bottom > li.active > a:after {
    opacity: 1;
}

.nav:hover > li:not(:hover) > a:after {
    opacity: 0;
}

.nav-right.nav-line-bottom > li > a:before, .nav-right.nav-line-bottom > li > a:after {
    display: none;
}


/* END Heaader */


/* SLider Home */

.slider-home .flickity-prev-next-button {
    width: 60px;
}

.slider-home svg.flickity-button-icon path {
    display: none;
}

.slider-home .flickity-prev-next-button.next > svg {
    background-image: url("./images/right-icon.png");
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid;
}

.slider-home .flickity-prev-next-button.previous > svg {
    background-image: url("./images/left-icon.png");
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid;
}

.slider-home p {
    line-height: 1;
}

.slider-home .flickity-page-dots {
    right: 40px;
}

.slider-home .slider .flickity-prev-next-button:hover svg.flickity-button-icon {
    border-color: #fff;
    background-color: #fff;
}


/* END SLider Home */

/* Icon-home */
.icon-box-home h3 {
    font-size: 22px;
    color: #8A8A8A;
    margin: 0;
    font-weight: 700;
}

.icon-box-home p {
    color: #323232;
}

.icon-box-home .icon-box-text.last-reset {
    margin-left: 20px;
}

/* END Icon-home */

/* Banner Home */
.large-4 .res-text, .large-8 .res-text, .large-6 .res-text {
    font-size: inherit;
}

.banner-home .button.primary span {
    color: #000000;
}

.banner-home .button.is-underline:before {
    width: 100%;
    opacity: 1;
    left: 0;
    bottom: 11px;
    height: 1px;
}

.banner-home .button.primary.is-underline:before {
    background: #000000;
}

.banner-home .banner p, .banner-home .banner .button {
    margin: 0;
}

.banner-home button.primary i, .banner-home .button.primary i {
    color: #000000
}

/* END Banner Home */

/* Product Home */
.product-tab-home li.tab.has-icon {
    padding: 0 35px;
}

.product-tab-home .tab-panels {
    padding-top: 60px;
}

.product-tab-home .nav-pills > li > a {
    padding: 5px 30px;
    font-size: 16px;
}

.product-tab-home .nav-pills > li:not(.active) > a {
    background-color: #F1F1F1;
}

.product-tab-home .flickity-prev-next-button {
    opacity: 1;
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    width: 50px;
}

.product-tab-home .flickity-prev-next-button.next {
    right: 0%;
}


.product-tab-home .flickity-prev-next-button.previous {
    left: 0%;
}

.product-tab-home svg.flickity-button-icon {
    background: #B2B2B2;
    border-color: #B2B2B2 !important;
    color: #fff !important;
}


.product-tab-home svg.flickity-button-icon {
    background: #B2B2B2;
    border-color: #B2B2B2 !important;
    color: #fff !important;
}

.product-tab-home .flickity-prev-next-button:hover svg.flickity-button-icon {
    background: #FFFFFF;
    border-color: #FFFFFF !important;
    color: #FFA0A0 !important;
    box-shadow: 0 0 10px #ddd;
}

.product-tab-home .flickity-prev-next-button:hover path.arrow {
    fill: #FFA0A0 !important;
}

/* END Product Home */


/* Social Home */
.social-home {
    border-radius: 70px;
    overflow: hidden;
}

.social-home .icon-box {
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
    align-self: center !important;
    vertical-align: middle !important;
}

/* END Social Home */


/*  Product Item */
.widget_shopping_cart .button {
    border-radius: 2px;
}

.product-small .box-image {
    border: 1px solid #fff;
    overflow: unset;
}


.product-small .badge-container {
    display: none;
}

.product-small .box-text.box-text-products {
    width: 100%;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-top: 30px;
}


.product-small .box-text.box-text-products > div {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%;
}

.product-small .add-to-cart-button {
    order: 3;
}

.product-small .title-wrapper {
    order: 2;
    margin: 15px 0px;
}

.product-small .price-wrapper {
    order: 1;
}

.product-small .price-wrapper .price ins {
    float: left;
    margin-right: 15px;
    color: #0D0D0D;
    font-size: 18px;
}

.product-small .price-wrapper .price del {
    color: #B68B8B;
    font-size: 18px;
}

.product-small .box-text.box-text-products .product-title a {
    color: #000000;
    font-size: 16px;
}

.product-small .box-text.box-text-products a.primary {
    background: #FFEAEA;
    color: #555555;
    border: none;
    border-radius: 18px;
    padding: 3px 30px;
    margin: 0;
}

.product-small img.attachment-woocommerce_thumbnail {
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border: 1px solid #ddd;
}

.product-small .back-image {
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border: 1px solid #ddd;
}

.product-small.has-hover:hover img.attachment-woocommerce_thumbnail {
    transform: rotateY(180deg);
}

.image-fade_in_back > a {
    perspective: 1000px;
}

.has-hover .bg, .has-hover [class*="image-"] img {
    transition: filter .8s, opacity .8s, transform .8s, box-shadow .8s !important;
}

.product-small .variations_form.wvs-archive-variation-wrapper {
    order: 3;
}

.product-small li.reset_variations.woo_variation_swatches_archive_reset_variations, .variations .reset_variations {
    display: none;
}

.woo-variation-swatches .product-small .wvs-archive-variation-wrapper .variations > li {
    margin-top: 0;
}

.product-small li.variable-item.button-variable-item {
    width: 40px !important;
}


/* Footer */
.footer {
    padding: 45px 0 0;
}

footer#footer .widget .is-divider {
    display: none;
}

footer#footer p, footer#footer a:hover {
    color: #323232;
}

footer#footer ul.menu > li + li, footer#footer .widget > ul > li + li {
    border-top: none;
}

footer#footer a {
    color: #4F4F4F;
    padding: 0;
    font-size: 14px;
}

footer#footer .menu-secondary-container {
    margin-top: 15px;
}

.form-footer .flex-col.ml-half {
    margin: 0;
}


.form-footer .your-email {
    padding-left: 45px;
    background: #FFFFFF;
    border-radius: 2px;
}

.form-footer .your-email:before {
    content: "";
    display: block;
    background: url("./images/email.png");
    background-repeat: no-repeat;
    height: 17px;
    width: 17px;
    background-size: contain;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 2;
}

.form-footer input.wpcf7-form-control.wpcf7-text {
    box-shadow: none;
    border: none;
    position: relative;
    height: 44px;
}


.form-footer input.wpcf7-form-control.wpcf7-submit.button {
    line-height: 44px;
    border-radius: 2px;
}

footer#footer form.wpcf7-form.init {
    margin: 0;
}

.copyright-footer {
    line-height: 46px;
    color: #000000;
}

.footer-secondary {
    padding: 0;
}

.absolute-footer {
    padding: 15px 0;
}

footer#footer img.size-full.alignnone {
    margin: 0;
}

/* END Footer */


/*  Single Product */

.single-product .page-title-inner {
    padding-top: 0;
}

.single-product button.single_add_to_cart_button.button.alt {
    background-color: #e6420f;
    padding: 0 70px;
    text-transform: none;
    font-size: 22px;
    line-height: 50px;
    min-height: 50px;
}

.breadcrumbs {
    font-size: 12px;
}

.breadcrumbs a {
    color: #4F4F4F;
}

.breadcrumbs a:last-child {
    color: #828282;
}

.single-product .page-title-inner {
    padding-top: 0;
}

.single-product .product-stacked-info, .accordion-inner {
    padding: 0;
}

.single-product a.accordion-title.plain {
    background: no-repeat;
    border: none;
    color: #323232;
    margin-bottom: 30px;
}

.single-product h1.product-title.product_title.entry-title {
    font-size: 38px;
}

.single-product .price-wrapper .price {
    font-size: 32px;
    margin: 30px 0 15px;
}

.single-product .price-wrapper {
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 30px;
}

.single-product button.toggle {
    color: #000;
    opacity: 1;
    font-size: 12px;
    line-height: 40px;
    height: 40px !important;
}

.single-product .product-footer {
    border-top: 1px solid #E0E0E0;
    padding-top: 30px !important;
}

table.variations {
    display: block;
}

td.label {
    width: 100%;
    display: block;
}

td.value.woo-variation-items-wrapper {
    width: 100%;
    display: block;
}

label {
    font-size: 18px;
    color: #828282;
    font-weight: 400;
    text-transform: uppercase;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
    background-color: #F2F2F2 !important;
    border-radius: 0;
    border: 1px solid;
    border-color: #4f4f4f !important;
    box-shadow: none !important;
    margin-right: 15px;
}

.woo-variation-swatches .variable-items-wrapper .button-variable-item span,
.woo-variation-swatches .variable-items-wrapper .radio-variable-item label,
.woo-variation-swatches .wvs-archive-variation-wrapper .reset_variations a {
    color: #828282 !important;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected,
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item):hover,
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
    background: #4F4F4F !important;
    border-color: #4F4F4F !important;
    box-shadow: none !important;
}

.woo-variation-swatches .variable-items-wrapper .button-variable-item:hover span,
.woo-variation-swatches .variable-items-wrapper .button-variable-item.selected:hover span,
.woo-variation-swatches .variable-items-wrapper .radio-variable-item:hover label,
.woo-variation-swatches .variable-items-wrapper .radio-variable-item.selected:hover label,
.woo-variation-swatches .variable-items-wrapper .button-variable-item.selected span,
.woo-variation-swatches .variable-items-wrapper .radio-variable-item.selected label {
    color: #fff !important;
}

.single-product li.variable-item.button-variable-item {
    width: 80px !important;
}

.single-product .variations tr .value {
    margin-bottom: 50px;
}

.quantity input[type="number"] {
    height: 52px;
    width: 80px;
    max-width: 80px;
}

.is-form, button.is-form, input[type='submit'].is-form, input[type='reset'].is-form, input[type='button'].is-form {
    border-radius: 0;
    width: 52px;
    font-size: 30px;
    padding: 0;
    line-height: 50px;
    min-height: 50px;
}

/* END Single Product */


/*  Shop Page */
h1.shop-page-title.is-xlarge {
    color: #828282;
    font-size: 40px;
}

.is-large {
    order: 1;
}

span.widget-title.shop-sidebar {
    margin-bottom: 20px;
    display: block;
    color: #4F4F4F;
    text-transform: inherit;
    font-weight: 400;
    font-size: 20px;
}

.widget .is-divider {
    display: none;
}

.widget > ul > li a {
    color: #4F4F4F;
}


.widget > ul > li a:hover {
    color: #e6420f;
}

.widget > ul > li:first-child {
    border-top: 1px solid #ececec;
}

.widget > ul > li:last-child {
    border-bottom: 1px solid #ececec;
}

.widget {
    margin-bottom: 30px;
}

.woocommerce-ordering, .woocommerce-ordering select {
    border-radius: 3px;
    background: #F0F0F0;
    margin: 0;
    max-width: 200px;
}

/*  END Shop Page */

/* Cart Page */
.checkout_coupon input#coupon_code {
    max-width: 300px;
    width: calc(100% - 100px);
    float: left;
    box-shadow: none;
}

.checkout_coupon input.is-form.expand {
    width: 100px;
    max-width: 100px !important;
    float: left;
    margin: 0;
    border-left: 0;
}

.cart-collaterals > div {
    padding: 30px 30px 10px;
    background: #F5F5F5;
}

.cart_totals .button {
    border-radius: 2px;
    height: 52px;
    line-height: 52px;
    text-transform: unset;
    font-size: 20px;
}

.shop_table thead th, .shop_table .order-total td, .shop_table .order-total th {
    border-width: 1px;
}

/* END Cart Page */


@media only screen and (max-width: 48em) {
    /*************** ADD MOBILE ONLY CSS HERE  ***************/
    header#header {
        padding: 0;
    }
}